.navbar-light .navbar-toggler {
  &:focus,
  &:active {
    box-shadow: rgba($primary, 0.5) 0 0 0 .25rem;
  }
}

.nav-link {
  width: fit-content;
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: $primary;
    transition: width 200ms ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "lg") - 1) {
  .nav-social-link {
    text-decoration: none;
    transition: all 0.2s ease-out;
    border-radius: 50%;
    padding: 1.2rem;
    width: 15px;
    height: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.325);
    box-shadow: 0 2px 4px rgba(0,0,0,0.325);


    &:hover {
      border-radius: 5px;
      text-decoration: none;
      /*background-color: white!important;*/
      /*color: var(--bs-secondary)!important;*/
      filter: brightness(130%);
    }
  }
}